<!DOCTYPE html>
<head>
    <title>Django Python Quiz App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#but1").click(function()
            {
                $(".rb").show();
                $(".rb").attr("disabled",true);
            });
        });
        function getanswers()
        {
            document.getElementById(UserAnswers).innerHTML="";
            var e=document.getElementsByTagName('input');
            for(i=0;i<=e.length;i++)
            {
                if(e[i].type=="radio")
                {
                    if(e[i].checked)
                    {
                        document.getElementById(UserAnswers).innerHTML+="Q " +e[i].name+" The Answer You Are Selected Is :"+e[i].value+"<br/>";

                    }
                }
            }
        }
    </script>
</head>
<body>
    <center>
        <h1>How To Create Quiz App Dynamically From MySQL(phpMyAdmin)</h1>
        <h3>Python Django With Javascript & jquery</h3>
    </center>    
        <div style="padding-left: 30px;">
            {% for result in Quiz %}
            <table>
                <tr>
                    <td>{{result.id}} ) {{result.Question}} ?</td>
                </tr>
                 <tr>
                     <td><input type="radio" id ="Option1" class="rb" name="{{result.id}}" value="{{result.Option1}}">{{result.Option1}}</td>
                 </tr>
                 <tr>
                    <td><input type="radio" id ="Option2" class="rb" name="{{result.id}}" value="{{result.Option2}}">{{result.Option2}}</td>
                </tr>
                <tr>
                    <td><input type="radio" id ="Option3" class="rb" name="{{result.id}}" value="{{result.Option3}}">{{result.Option3}}</td>
                </tr>
                <tr>
                    <td><input type="radio" id ="Option4" class="rb" name="{{result.id}}" value="{{result.Option4}}">{{result.Option4}}</td>
                </tr>
                <tr>
                    <td><label id="corans" class="rb" style="display: none; color: green"><b>The Correct Answer Is : {{result.Corrans}}</b></label></td>
                </tr>
                </hr>
            </table>
        
         {% endfor %}

        <input type="submit" value="Click for results" id="but1" onclick="getanswers();"/>
            <hr/>
            <b id="UserAnswers"></b>
            <hr/>
    </div>
</body>
</html>
